<div class="col-md-3">
  <div class="card mb-4">
    <div class="card-body" id="<%= dom_id api_recipe %>">
      <h5 class="card-title">
        <%= api_recipe.title %>
      </h5>

      <p class="card-text">
        <strong>Ingredients:</strong>
        <%= api_recipe.ingredients %>
      </p>

      <p class="card-text">
        <strong>Servings:</strong>
        <%= api_recipe.servings %>
      </p>

      <p class="card-text">
        <strong>Instructions:</strong>
        <%= api_recipe.instructions %>
      </p>

    </div>
  </div>
</div>
