<div class="card">
  <div class="card-body">
    <h2>Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
        <br>
        <div class="form-group d-grid">
          <label class="btn btn-primary"> upload an optional profile image
          <%= f.file_field :profile, style: 'display: none;' %>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group d-grid">
          <%= f.submit "Sign up", class: 'btn btn-primary btn-block' %>
        </div>
        <br>
        <%
=begin%>
 <div class="github-login d-grid" data-turbo="false">
          <%= button_to user_github_omniauth_authorize_path, format: :html, method: :post, class: "btn btn-dark btn-lg" do %>
          <span class="icon">Login with Github
            <i class="fab fa-github"></i>
          </span>
        <% end %>
        </div>
        <br>
        <div class="google-login d-grid" data-turbo="false">
          <%= button_to user_google_oauth2_omniauth_authorize_path, format: :html, method: :post, class: "btn btn-outline-success btn-lg" do %>
            <span class="icon">Login with Google
              <i class="fab fa-google"></i>
            </span>
          <% end %>
        </div>
<%
=end%>
      </div>

        <div class="auth-links register-text">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
