<%= form_with(model: recipe) do |form| %>
  <%# Form Errors %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <%# First Form Column %>
    <div class="col">
      <%# Title Field %>
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <%# Ingredients Fields %>
      <div id="ingredients", class="mb-2">
        <%= form.label :ingredients, class: "form-label" %>
        <%= render partial: "ingredient", collection: @recipe.ingredients %>
      </div>

      <div class="mb-3">
        <%= link_to(ingredient_field_recipes_path, data: { turbo_stream: true }, class: "btn btn-success btn-sm") do %>
          <span class="bi-plus-lg"></span>&nbsp;Add Ingredient
        <% end %>
      </div>

      <%# Instructions Field %>
      <div class="mb-3">
        <%= form.label :instructions, class: "form-label" %>
        <%= form.rich_text_area :instructions, class: "form-label" %>
      </div>

      <%# Submit Button %>
      <div>
        <%= form.submit "Create Recipe", class: "btn btn-primary" %>
      </div>
    </div>

    <%# Second Form Column %>
    <div class="col">
      <div class="mb-3">
        <label class="form-label">Recipe Image</label>
      </div>

      <div class="upload-dropzone text-center mb-3 p-4" data-upload-target="dropzone">
        <i class="bi bi-upload"></i>
        <p class="small my-2">Drag & Drop image inside dashed region<br><i>or</i></p>

        <%= form.file_field :image, data: { action: "change->upload#handleInputFiles", upload_target: "input" }, class: "position-absolute invisible", accept: "image/jpeg, image/png, image/svg+xml" %>
        <%= form.label :image, "Choose file", class: "btn btn-primary mb-3" %>

        <div class="upload-gallery d-flex flex-wrap justify-content-center gap-3 mb-0" data-upload-target="gallery"></div>
      </div>
    </div>
  </div>
<% end %>
