<%= form_with(model: recipe) do |form| %>
  <%# Form Errors %>
  <% if recipe.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
        <% recipe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <%# First Form Column %>
    <div class="col">
      <%# Title Field %>
      <div class="mb-3">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div id="servings", class="">
        <%= form.label :servings, class: "form-label"%>
        <%= form.select :servings, [1, 2, 3, 4, 5, 6, 7, 8], class: "form-control" %>

      <%# Ingredients Fields %>
      <div id="ingredients", class="mb-2">
        <%= form.label :ingredients, class: "form-label" %>
        <%= render partial: "ingredient", collection: @recipe.ingredients %>
      </div>

      <div class="mb-3">
        <%= link_to(ingredient_field_recipes_path, data: { turbo_stream: true }, class: "btn btn-success btn-sm") do %>
          <span class="bi-plus-lg"></span>&nbsp;Add Ingredient
        <% end %>
      </div>

      <%# Instructions Field %>
      <div class="mb-3">
        <%= form.label :instructions, class: "form-label" %>
        <%= form.rich_text_area :instructions, class: "form-label" %>
      </div>

      <%# Visibility Checkbox %>

      <div class="form-check mb-3">
        <%= form.check_box :public, class: "form-check-input", type: "checkbox" %>
        <%= form.label :public, class: "form-check-label" %>
      </div>

      <%# Hidden field for author-type %>
      <% form.hidden_field author_type: %>
      <%# Submit Button %>
      <div>
        <%= form.submit "Create Recipe", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
