<div class="col-md-3">
  <div class="card mb-4">
    <div class="card-body" id="<%= dom_id(recipe) %>">
      <h5 class="card-title">
        <%= recipe.title %>
      </h5>

      <p class="card-text">
        <strong>Ingredients:</strong>
        <% if recipe.is_a?(Recipe) %>
          <% recipe.ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        <% end %>
      </p>

      <p class="card-text">
        <strong>Servings:</strong>
        <%= recipe.servings %>
      </p>

      <p class="card-text">
        <strong>Instructions:</strong>
        <%= recipe.instructions %>
      </p>
      <% if authorized_to && recipe.is_a?(Recipe)%>
        <%= render partial: 'recipes/admin_actions', locals: { recipe: recipe } %>
      <%end %>
    </div>
  </div>
</div>
