<p style="color: green"><%= notice %></p>

<div class="d-flex justify-content-center my-5">
  <%= form_with(url: search_path, method: :get,
                data: { controller: "search", action: "submit->search#prevent", target: "search.form" },
                class: "d-flex align-items-center searchbar") do |form| %>
    <%= form.text_field(:q, placeholder: "Search for a recipe...", value: params[:q],
                        data: { target: "search.input" }, class: "search-input") %>
    <%= button_tag(type: "submit", name: nil, class: "search-icon") do %>
      <i class="bi bi-search"></i>
    <% end %>
  <% end %>
</div>

<div class="container" id="recipes">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <%= render partial: "recipe", locals: { recipe: } %>
    <% end %>
  </div>
</div>
