<!DOCTYPE html>
<html>
  <head>
    <title>GreyUnicornRecipes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="<%= "#{controller_path.gsub('/', ' ')} #{action_name}" %>">
    <header id="header">
      <%= render "shared/application_nav" %>
    </header>
    <div id="main">
      <div class="container">
        <%= render 'shared/flash_container' %>
        <%= yield %>
      </div>
    </div>
    <footer id="footer">
      <%= render "shared/application_footer" %>
    </footer>
  </body>
</html>
